header
{
    background: #ff7f27;
    color: black;
    padding: 20px;
}

body
{
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: #1769ff;
    color: white;
}

footer
{
    background: #a3469d;
    color: white;
    padding: 10px;
    margin-top: 20px;
}